---
interface Props {
  tags: string[];
  size?: 'sm' | 'md';
}

const { tags, size = 'sm' } = Astro.props;
---

{tags.length > 0 && (
  <div class:list={['tag-list', `tag-list--${size}`]}>
    {tags.map(tag => (
      <span class="tag">{tag}</span>
    ))}
  </div>
)}
